html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex: 0 1 auto;
    align-items: center;
}

#diff-and-score {
    display: flex;
    flex-direction: row;
}

#game-difficulty {
}

#score {
    position: relative;
    margin-left: 15px;
}

#canvas-container {
    display: block;
    flex: 0.9 1 auto;
    margin: 5px;
}